@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .bg-brandGreen {
    background-color: #22C55E;
  }
  .text-brandGreen {
    color: #22C55E;
  }
}